# 5. Get_Predict_Result_From_Redis

## Run name

In [1]:
import time

project_name = 'Google_LandMark_Rec2019'
step_name = '5_Get_Predict_Result_From_Redis'
time_str = time.strftime("%Y%m%d_%H%M%S", time.localtime())
run_name = project_name + '_' + step_name + '_' + time_str
print('run_name: ' + run_name)
t0 = time.time()

run_name: Google_LandMark_Rec2019_5_Get_Predict_Result_From_Redis_20190531_232822

## Important params

In [2]:
import multiprocessing

cpu_amount = multiprocessing.cpu_count()
print('cpu_amount: ', cpu_amount)

topn = 100
print('topn:\t', topn)

cpu_amount:  4
topn:	 100

## Import PKGs

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline
from IPython.display import display

import os
import sys
import gc
import math
import shutil
import zipfile
import pickle
import h5py
import json

from tqdm import tqdm

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [4]:
from feature import load_feature
from utility import pickle_load

## Project folders

In [5]:
cwd = os.getcwd()
feature_folder = os.path.join(cwd, 'feature')
input_folder = os.path.join(cwd, 'input')
output_folder = os.path.join(cwd, 'output')
model_folder = os.path.join(cwd, 'model')

org_train_folder = os.path.join(input_folder, 'org_train')
org_test_folder = os.path.join(input_folder, 'org_test')
train_folder = os.path.join(input_folder, 'data_train')
val_folder = os.path.join(input_folder, 'data_val')
test_folder = os.path.join(input_folder, 'data_test')
test_sub_folder = os.path.join(test_folder, 'test')

train_csv_file = os.path.join(input_folder, 'train.csv')
test_csv_file = os.path.join(input_folder, 'test.csv')
sample_submission_csv = os.path.join(input_folder, 'sample_submission.csv')
recognition_sample_submission_csv = os.path.join(input_folder, 'recognition_sample_submission.csv')
retrieval_sample_submission_csv = os.path.join(input_folder, 'retrieval_sample_submission.csv')
data_test_00_filenames_pkl = os.path.join(feature_folder, 'feature_VGG19_data_test_00_171023_filenames.pkl')
stage2_test_csv = os.path.join(input_folder, 'test.csv')

## Redis client

In [6]:
import redis
redis_cli = redis.Redis(host='18.188.192.187', port=6379, password='elect')

## Get result from redis

In [7]:
def get_predict_result(redis_cli, end=10, start=0):
    pred_result_ser_arr = redis_cli.lrange('test_pred_result', start, end)
    pred_result_arr = [json.loads(pred_result_ser) for pred_result_ser in pred_result_ser_arr if pred_result_ser]
    return pred_result_arr

# pred_result_arr = get_predict_result(redis_cli, 10)
# print('len(pred_result_arr):', len(pred_result_arr))

In [8]:
# for item_pred_result in pred_result_arr[0: 10]:
#     print('%10d' % item_pred_result['id'], '%10d' % item_pred_result['top1_pred'], '%10d' % item_pred_result['weighted_top1_pred'])

## Load val feature

In [9]:
# x_val, y_val, idx_val = load_feature(feature_folder, 'test', 'VGG19', '171023', 1)
# display(x_val.shape)
# display(y_val.shape)
# display(idx_val.shape)

In [10]:
# debug_row = len(pred_result_arr)
# amount = debug_row
# top1_count = 0
# weighted_top1_count = 0
# topn_count = 0
# for item_idx, item_y, item_pred_result in zip(idx_val[:debug_row], y_val[:debug_row], pred_result_arr[:debug_row]):
#     top1_status = 0
#     weighted_top1_status = 0
#     topn_status = 0
#     if item_y == item_pred_result['top1_pred']:
#         top1_count += 1
#         top1_status = 1
#     if item_y == item_pred_result['weighted_top1_pred']:
#         weighted_top1_count += 1
#         weighted_top1_status = 1
#     if isinstance(item_pred_result['topn_pred_arr'], list) and item_y in item_pred_result['topn_pred_arr']:
#         topn_count += 1
#         topn_status = 1
#     if item_idx <= 20 or item_idx >= (debug_row-20):
#         print('%10d' % item_idx, '%10d' % item_y, '%10d' % item_pred_result['id'], '%10d' % item_pred_result['top1_pred'], '%10d' % item_pred_result['weighted_top1_pred'], '%d %d %d' % (top1_status, weighted_top1_status, topn_status))

# print('*' * 80)
# print(top1_count, '%.2f' % (top1_count/amount))
# print(weighted_top1_count, '%.2f' % (weighted_top1_count/amount))
# print(topn_count, '%.2f' % (topn_count/amount))

In [11]:
# acc10000 = int(topn_count/amount*10000)
# if acc10000 == 10000:
#     run_name_acc = '%s_%05d' % (run_name, acc10000)
# else:
#     run_name_acc = '%s_%04d' % (run_name, acc10000)
# print(run_name_acc)

## Load data_test_00 predict result

In [12]:
stage2_test_df = pd.read_csv(stage2_test_csv)
display(stage2_test_df.shape, stage2_test_df.head(2))

(117577, 1)

                 id
0  00016575233bc956
1  0001aadbcd8cb923

In [13]:
recognition_sample_submission_df = stage2_test_df.copy('K')
recognition_sample_submission_df['landmarks'] = ''
display(recognition_sample_submission_df.shape, recognition_sample_submission_df.head())

(117577, 2)

                 id landmarks
0  00016575233bc956
1  0001aadbcd8cb923
2  0002c06b2440a5f9
3  0002eb1ee5a5a6b2
4  000594dad986513e

In [14]:
recognition_sample_submission_df['landmarks'] = ''
recognition_sample_submission_df.set_index(['id'], inplace=True)
display(recognition_sample_submission_df.shape, recognition_sample_submission_df.head())

(117577, 1)

                 landmarks
id
00016575233bc956
0001aadbcd8cb923
0002c06b2440a5f9
0002eb1ee5a5a6b2
000594dad986513e

In [15]:
retrieval_sample_submission_df = stage2_test_df.copy('K')
retrieval_sample_submission_df['images'] = ''
display(retrieval_sample_submission_df.shape, retrieval_sample_submission_df.head())

(117577, 2)

                 id images
0  00016575233bc956
1  0001aadbcd8cb923
2  0002c06b2440a5f9
3  0002eb1ee5a5a6b2
4  000594dad986513e

In [16]:
retrieval_sample_submission_df['images'] = ''
retrieval_sample_submission_df.set_index(['id'], inplace=True)
display(retrieval_sample_submission_df.shape, retrieval_sample_submission_df.head())

(117577, 1)

                 images
id
00016575233bc956
0001aadbcd8cb923
0002c06b2440a5f9
0002eb1ee5a5a6b2
000594dad986513e

In [17]:
data_test_00_filenames = pickle_load(data_test_00_filenames_pkl)
print(len(data_test_00_filenames), data_test_00_filenames[:5])

112749 ['0/000088da12d664db.jpg', '0/0001623c6d808702.jpg', '0/0001bbb682d45002.jpg', '0/0002362830cfe3a3.jpg', '0/000270c9100de789.jpg']

In [18]:
image_ids = [filename[2: -4] for filename in data_test_00_filenames]
print(len(image_ids), image_ids[:5])

112749 ['000088da12d664db', '0001623c6d808702', '0001bbb682d45002', '0002362830cfe3a3', '000270c9100de789']

In [19]:
pred_result_arr = get_predict_result(redis_cli, -1, 0)
print('len(pred_result_arr):', len(pred_result_arr))

len(pred_result_arr): 3903

In [20]:
def get_uniform_topn(y_pred, y_proba, topn, ndigits=3):
    y_pred_reverse = y_pred[::-1]
    y_proba_reverse = y_proba[::-1]
    y_pred_topn = y_pred_reverse[:topn]
    y_proba_topn = y_proba_reverse[:topn]
    y_proba_topn_sum = sum(y_proba_topn)
    y_pred_topn = [item for item in y_pred_topn]
    y_proba_topn = [round(item/y_proba_topn_sum, ndigits) for item in y_proba_topn]
    return y_pred_topn, y_proba_topn

# demo_y_pred = list(range(10))
# demo_y_proba = [item for item in list(range(10))]
# demo_y_pred_topn, demo_y_proba_topn = get_uniform_topn(demo_y_pred, demo_y_proba, 5)

In [21]:
# print(sum(demo_y_proba_topn))

In [22]:
print('len(pred_result_arr):', len(pred_result_arr))

len(pred_result_arr): 3903

In [23]:
for item_pred_result in pred_result_arr:
    test_data_idx = item_pred_result['id']
    topn_filename_arr = item_pred_result['topn_filename_arr']
    image_id = image_ids[test_data_idx]
    item_y_pred_topn, item_y_proba_topn = get_uniform_topn(item_pred_result['topn_pred_arr'], item_pred_result['topn_proba_arr'], topn)
    # recognition
#     print(item_pred_result['top1_pred'])
    recognition_sample_submission_df.at[image_id, 'landmarks'] = '%s %.2f' % (item_pred_result['top1_pred'], item_y_proba_topn[0])
    # retrieval
    pred_filename_arr = topn_filename_arr[-topn:]
    pred_filename_arr.reverse()
    retrieval_sample_submission_df.at[image_id, 'images'] = ' '.join([filename[-20:-4] for filename in pred_filename_arr])
    if test_data_idx < 100:
        print('%7d' % test_data_idx, image_id, item_pred_result['top1_pred'], item_pred_result['topn_pred_arr'][-1], item_y_pred_topn[0], item_y_proba_topn[0], item_pred_result['topn_proba_arr'][-1], len(pred_filename_arr))

      0 000088da12d664db 65218 65218 65218 0.01 0.971 100
      1 0001623c6d808702 138982 138982 138982 0.01 0.992 100
      2 0001bbb682d45002 174821 174821 174821 0.01 0.994 100
      3 0002362830cfe3a3 42297 42297 42297 0.01 0.998 100
      4 000270c9100de789 145325 145325 145325 0.01 0.999 100
      5 0002b0fab5d3ccc4 198778 198778 198778 0.01 0.993 100
      6 000506dc6ab3a40e 138719 138719 138719 0.01 0.995 100
      7 0005292fc4b005a3 96663 96663 96663 0.01 0.999 100
      8 0005456a82264bc8 82137 82137 82137 0.01 0.988 100
      9 00055cf2bfb5594a 164179 164179 164179 0.01 1.0 100
     10 000664eed4a70821 129024 129024 129024 0.01 0.999 100
     11 0006aea5b6f4eaaa 145097 145097 145097 0.01 0.997 100
     12 0006bbfa00dd6c0f 195843 195843 195843 0.01 0.997 100
     13 0008aee1c0abed9d 145015 145015 145015 0.01 0.998 100
     14 0008de5f3c25d563 24607 24607 24607 0.01 0.996 100
     15 00094466c9f054f4 154960 154960 154960 0.01 0.986 100
     16 0009f09a69405693 88596 88596 88596 0.01 0.982 100
     17 000a7f4a25af7558 155303 155303 155303 0.01 0.997 100
     18 000a9180e4dc8705 104939 104939 104939 0.01 0.99 100
     19 000aee511bc53f8b 87787 87787 87787 0.01 1.0 100
     20 000b55ddc1160a12 53917 53917 53917 0.01 0.997 100
     21 000c08916d77b8ba 48478 48478 48478 0.01 0.984 100
     22 000c2a80838aabff 59629 59629 59629 0.01 0.999 100
     23 000dad8a776a3631 62831 62831 62831 0.01 0.997 100
     24 000e30f1e5b32741 21253 21253 21253 0.01 0.999 100
     25 000e47a43eb8a307 192931 192931 192931 0.01 0.997 100
     26 00108ec72b2344bd 36494 36494 36494 0.01 0.968 100
     27 0010ab920bac8640 170064 170064 170064 0.01 0.995 100
     28 0010e7cad366d6fa 145015 145015 145015 0.01 0.997 100
     29 001119140e4bb030 35855 35855 35855 0.01 0.99 100
     30 0013a06d20c7839f 35560 35560 35560 0.01 0.996 100
     31 001490806c884d96 106795 106795 106795 0.01 0.984 100
     32 0014be4f4910bbe6 57997 57997 57997 0.01 0.981 100
     33 0014ea5d819557be 87787 87787 87787 0.01 0.999 100
     34 0015898890608086 87787 87787 87787 0.01 0.989 100
     35 001645116c77f6be 122937 122937 122937 0.01 0.999 100
     36 001693c1ea808396 82320 82320 82320 0.01 0.996 100
     37 00169f449b4c60c0 139706 139706 139706 0.01 0.995 100
     38 0016de8fd1c3eab6 56957 56957 56957 0.01 0.999 100
     39 0017719d5bba733c 131030 131030 131030 0.01 0.989 100
     40 0017deb491895bba 57925 57925 57925 0.01 0.998 100
     41 001800346d31f711 104939 104939 104939 0.01 0.995 100
     42 00181e5553bf2564 39209 39209 39209 0.01 0.998 100
     43 0018893bd38632df 18216 18216 18216 0.01 0.999 100
     44 0018b97bd2b24bd7 145097 145097 145097 0.01 0.998 100
     45 0018d55375fc9760 192931 192931 192931 0.01 0.998 100
     46 001a35e59d5aa6f1 111382 111382 111382 0.01 0.998 100
     47 001a459a0ea96691 57939 57939 57939 0.01 0.997 100
     48 001a60eb361ddcce 137342 137342 137342 0.01 0.99 100
     49 001a664af4c86522 72051 72051 72051 0.01 0.995 100
     50 001abaa4d7b1bff6 6664 6664 6664 0.01 0.978 100
     51 001ac16f4d40d767 115276 115276 115276 0.01 0.996 100
     52 001ae53b299b629c 59629 59629 59629 0.01 0.998 100
     53 001b6152e9ebcc55 11410 11410 11410 0.01 0.996 100
     54 001b715bcc3404d0 182407 182407 182407 0.01 0.98 100
     55 001c14abb87dadee 167673 167673 167673 0.01 0.966 100
     56 001c3fd61038afbb 158054 158054 158054 0.01 0.999 100
     57 001dda380fe0ba7c 50773 50773 50773 0.01 0.984 100
     58 001deb1af658dff1 168194 168194 168194 0.01 0.998 100
     59 001e897d5843a2f6 107801 107801 107801 0.01 0.97 100
     60 001e8a1a315b152c 68910 68910 68910 0.01 0.997 100
     61 002032b69caabd68 122284 122284 122284 0.01 0.999 100
     62 0020d05219278e14 154295 154295 154295 0.01 1.0 100
     63 0021438d0b42fae6 145015 145015 145015 0.01 0.999 100
     64 002178816e50c78b 27332 27332 27332 0.01 0.998 100
     65 00229fb626a4c226 10308 10308 10308 0.01 0.997 100
     66 00241bc3b567af00 134202 134202 134202 0.01 0.995 100
     67 0024356662a2dc86 35691 35691 35691 0.01 0.99 100
     68 00244a394f6e0d11 147018 147018 147018 0.01 0.992 100
     69 0024f9a7be9e52e4 130282 130282 130282 0.01 0.997 100
     70 0025f252395efe10 192931 192931 192931 0.01 0.993 100
     71 00273e8ac68611c6 138982 138982 138982 0.01 0.991 100
     72 002794eaf4731a7f 79140 79140 79140 0.01 0.998 100
     73 002814a3f1e37070 174731 174731 174731 0.01 0.993 100
     74 0028cafcc6b04b96 145015 145015 145015 0.01 0.999 100
     75 00295956a11fb30e 100087 100087 100087 0.01 0.999 100
     76 00299adcc8dce34d 15059 15059 15059 0.01 0.98 100
     77 0029aceb8271ccc9 192931 192931 192931 0.01 0.993 100
     78 002a60235e98af73 22290 22290 22290 0.01 0.993 100
     79 002a70ff69fb0500 198205 198205 198205 0.01 0.995 100
     80 002b404d3b0cf9a6 20981 20981 20981 0.01 0.998 100
     81 002bfe1dc420c69c 169872 169872 169872 0.01 0.997 100
     82 002c7341cbf5b436 145015 145015 145015 0.01 0.999 100
     83 002da20ca02f0ac0 193275 193275 193275 0.01 0.992 100
     84 002e393179937ebe 202388 202388 202388 0.01 0.991 100
     85 002e422a29e1ce5e 61412 61412 61412 0.01 0.993 100
     86 002f0b431de8711a 185662 185662 185662 0.01 0.998 100
     87 002f22ef6de3a55f 164623 164623 164623 0.01 0.979 100
     88 002f3760195af117 116917 116917 116917 0.01 0.99 100
     89 002faea0e8c51479 153791 153791 153791 0.01 0.999 100
     90 0030a4534a5abac6 38952 38952 38952 0.01 0.993 100
     91 0031ad92799f20ee 79836 79836 79836 0.01 1.0 100
     92 0033acb64422fba9 188743 188743 188743 0.01 0.996 100
     93 0033eba3397c6185 192931 192931 192931 0.01 0.997 100
     94 003448f1cb05ee15 71615 71615 71615 0.01 0.987 100
     95 00348bdb873acd20 72978 72978 72978 0.01 0.998 100
     96 0034fcc8b622df6d 107452 107452 107452 0.01 0.994 100
     97 0035c123796d2dc2 29425 29425 29425 0.01 0.985 100
     98 00362ef0d3389ca2 202277 202277 202277 0.01 0.998 100
     99 003aa025286a1b96 140928 140928 140928 0.01 0.991 100

## Export submission

In [24]:
recognition_sample_submission_df.reset_index(drop=False, inplace=True)
retrieval_sample_submission_df.reset_index(drop=False, inplace=True)

In [25]:
recognition_sample_submission_df_concreate = recognition_sample_submission_df[recognition_sample_submission_df['landmarks'] != '']
display(recognition_sample_submission_df_concreate.shape, recognition_sample_submission_df_concreate.head())
retrieval_sample_submission_df_concreate = retrieval_sample_submission_df[retrieval_sample_submission_df['images'] != '']
display(retrieval_sample_submission_df_concreate.shape, retrieval_sample_submission_df_concreate.head())

(3903, 2)

                      id    landmarks
117577  000088da12d664db   65218 0.01
117578  0001623c6d808702  138982 0.01
117579  0001bbb682d45002  174821 0.01
117580  0002362830cfe3a3   42297 0.01
117581  000270c9100de789  145325 0.01

(3903, 2)

                      id                                             images
117577  000088da12d664db  afa533419f7ab5ac 1e393b7ab22eb960 f51620d23acd...
117578  0001623c6d808702  df0e1f887e3a7c03 f8a65bbb71c96da0 75b39c7111cb...
117579  0001bbb682d45002  301c36bdf8878428 579602e71283374c 682912c05f73...
117580  0002362830cfe3a3  26e3756c1eb9ce06 15ef6bfd1d98435f bbdebf3d55d1...
117581  000270c9100de789  ea03cd7d0f68a60d 4fadce647ef3e0cb c2b4fbbc07ef...

In [26]:
display(recognition_sample_submission_df.shape, recognition_sample_submission_df.head())
display(retrieval_sample_submission_df.shape, retrieval_sample_submission_df.head())

(121480, 2)

                 id landmarks
0  00016575233bc956
1  0001aadbcd8cb923
2  0002c06b2440a5f9
3  0002eb1ee5a5a6b2
4  000594dad986513e

(121480, 2)

                 id images
0  00016575233bc956
1  0001aadbcd8cb923
2  0002c06b2440a5f9
3  0002eb1ee5a5a6b2
4  000594dad986513e

In [27]:
recognition_submission_file = os.path.join(output_folder, '%s_recognition.csv' % run_name)
print(recognition_submission_file)
recognition_sample_submission_df.to_csv(recognition_submission_file, index=False)

D:\Kaggle\landmark-recognition-2019\output\Google_LandMark_Rec2019_5_Get_Predict_Result_From_Redis_20190531_232822_recognition.csv

In [30]:
retrieval_submission_file = os.path.join(output_folder, '%s_retrieval.csv' % run_name)
print(retrieval_submission_file)
retrieval_sample_submission_df.to_csv(retrieval_submission_file, index=False)

D:\Kaggle\landmark-recognition-2019\output\Google_LandMark_Rec2019_5_Get_Predict_Result_From_Redis_20190531_232822_retrieval.csv

In [29]:
print('Time elapsed: %.1fs' % (time.time() - t0))
print(run_name)

Time elapsed: 1615.5s
Google_LandMark_Rec2019_5_Get_Predict_Result_From_Redis_20190531_232822